.container {
  // background: #fff;
  padding: 30px 14px;
  position: relative;
  margin: auto;
  @media screen and (min-width: 769px) {
    display: none;
  }
  .header {
    text-align: left;
    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .region {
    color: #7f888f;
    display: flex;
    align-items: center;
    column-gap: 4px;
    img {
      height: 20px;
    }
    p {
      align-self: flex-end;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .svgTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-top: 16px;
    max-width: 240px;
    margin-bottom: 23px;
  }
  .svgWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    column-gap: 140px;
    // position: absolute;
    svg {
      width: 100%;
      max-width: 343px;
      margin: auto;
      height: auto;
    }
    .chartWrapper {
      max-width: 343px;
      margin: auto;
      position: relative;
      span {
        position: absolute;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
      .number1 {
        color: #0ea1e6;
        bottom: 122px;
        left: 123px;
        bottom: 85.5px;
      }
      .number2 {
        color: #4559a6;
        bottom: 11.5px;
        left: 123px;
      }
    }
  }
  .statsWrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .yearsWrapper {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      .year {
        display: flex;
        flex-direction: column;

        .item {
          padding-top: 9px;
          padding-bottom: 28px;
          padding-left: 24px;
          width: 220px;
          background-image: url(/images/whitebg.png);
          background-repeat: no-repeat;
          position: relative;
          cursor: pointer;
          p {
            font-weight: 600;
            font-size: 32px;
            line-height: 44px;
            color: #000;
          }
          .badge {
            width: 53px;
            height: 57px;

            background-repeat: no-repeat;
            font-weight: 600;
            font-size: 24px;
            line-height: 44px;
            color: #fff;
            position: absolute;
            top: -7px;
            right: 34px;
          }
          .starBadge {
            line-height: 33px;
          }
          .darkBlue {
            background-image: url(/images/statsicons/4559A6.png);
          }
          .blue {
            background-image: url(/images/statsicons/0EA1E6.png);
          }
          .green {
            background-image: url(/images/statsicons/45A6A2.png);
          }
        }
        .plan {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
        }
        .itemActive {
          background-image: url(/images/bluebg.png);
          p {
            color: #fff;
          }
        }
      }
    }
  }
  .bottom {
    bottom: -74px;
  }
}
