@import "styles/unit.scss";
@import url("/public/fonts/font.css");


.next {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: -80px;
  right: 0;
  height: 40px;
  transition: .4s ease all;

  @media screen and (max-width:600px) {
    top: -8%;
    right: 3%;
  }

  svg {
    transform: rotate(180deg);

    &:hover {
      path {
        stroke: var(--primary-color);
      }
    }
  }
}

.prev {
  cursor: pointer;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 100;
  top: -80px;
  right: 48px;
  height: 40px;
  border-radius: 50%;
  transition: .4s ease all;

  @media screen and (max-width:600px) {
    top: -8%;
    left: 3%;
    right: auto;
  }

  svg {
    &:hover {
      path {
        stroke: var(--primary-color);
      }
    }
  }
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.326451px;
  margin-top: 32px;
  margin-left: 16px;

  @media (max-width: 600px) {
    margin-left: 0px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
}

.slider {

  margin: 32px -8px 80px;

  .slide {
    padding: 0 8px;

    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 434px;
      margin-top: 10px;

      video {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      .name p {
        font-weight: 700;
        font-size: 18px;
        color: #ffffff;
        position: absolute;
        bottom: 5%;
        left: 10%;
      }

      .icon {
        position: absolute;
        bottom: 40%;
        right: 40%;
        cursor: pointer;

        svg {
          transition: 0.4s ease-in-out all;

          &:hover {
            transform: scale(1.1);
          }

          path {
            &:active {
              fill: #cccccc;
            }
          }
        }
      }
    }
  }
}