@import "styles/unit.scss";
@import url("/public/fonts/font.css");

.form {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: #f7f7f7;
  transition: 1s ease all;
  position: fixed;
  top: 0;
  right: 10;
  z-index: 1000;

  &.closed {
    display: none;
  }

  .inputWrapper {
    width: 30%;
    position: relative;
    top: 15%;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .searchInput {
      width: 100%;
      padding: 12px 17px;
      background-color: #f3f3f3;
      border: none;
      font-size: 16px;
      transition: 1s ease all;
      cursor: pointer;
      position: relative;

      &:focus {
        border: none;
        outline: none;
      }
    }

    .closeIcon {
      width: 43px;
      height: 43px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f3f3f3;
      transition: 1s ease all;
    }

    .notValued {
      width: 43px;
      height: 43px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f3f3f3;
      transition: 1s ease all;

      svg {
        path {
          fill: #f3f3f3;
        }
      }
    }

    .searchBtn {
      background-color: #09999a;
      width: 50px !important;
      height: 43px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;

      svg {
        path {
          stroke: #fff;
        }
      }

      &:active {
        svg {
          path {
            stroke: #c5c5c5;
          }
        }
      }
    }
  }

}

@media (max-width:700px) {
  .form {
    margin-top: 40px;

    .inputWrapper {
      width: 80%;
    }
  }
}