@import "styles/unit.scss";
@import url("/public/fonts/font.css");

.main {
  padding: 80px 0 44px;

  @media screen and (max-width: 1200px) {
    padding-top: 140px;
    padding-bottom: 0;
  }

  .element {
    position: relative;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }

    .rightElement {
      order: 2;
      width: 763px;
      max-width: 100%;

      @media screen and (max-width: 1200px) {
        order: 1;
        height: auto;
        display: flex;
        width: 100%;
      }

      @media screen and (min-width: 1440px) {
        width: 60%;
      }

      img {
        max-width: 100%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .defaultWrapper {
        max-width: 100%;
        object-fit: cover;
        width: 100%;
        height: 513.45px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 600px) {
          height: 350px;
        }

        @media screen and (max-width: 400px) {
          height: 233px;
        }
      }
    }

    .leftElement {
      order: 1;
      width: 576px;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;

      @media screen and (max-width: 1200px) {
        order: 2;
        position: static;
        width: 100%;
      }

      @media screen and (min-width: 1400px) {
        width: 50%;
      }

      h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: 0.326451px;

        margin: 0;

        @media screen and (max-width: 400px) {
          font-size: 25px;
        }

        @media screen and (max-width: 1200px) {
          position: absolute;
          top: 0;
          transform: translateY(-100%);
          padding-bottom: 24px;
          line-height: 32px;
          letter-spacing: 0.38px;

          br {
            display: none;
          }
        }

        @media screen and (min-width: 1200px) {
          max-width: 450px;
        }
      }

      .box {
        background: var(--primary-color);
        color: #fff;
        margin-top: 32px;
        padding: 32px;
        height: 401px;

        @media screen and (max-width: 1200px) {
          margin-top: 0;
          display: flex;
          flex-direction: column;
          padding: 16px 12px;
          column-gap: 8px;
          height: fit-content;
        }

        .body {
          padding-top: 16px;

          @media screen and (max-width: 1200px) {
            padding-top: 24px;
          }

          .name p {
            font-weight: 600;
            font-size: 32px;
            line-height: 33px;
            margin-bottom: 12px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color: #fff;
            font-family: "Noto Serif" !important;
            @media screen and (max-width: 1200px) {
              font-weight: 500;
              font-size: 24px;
              line-height: 22px;
            }
          }

          p {
            row-gap: 4px;
          }

          p,
          a {
            font-size: 16px;
            line-height: 26px;
            font-family: "Noto Sans" !important;
            color: rgba(255, 255, 255, 0.7);

            span {
              color: rgba(255, 255, 255, 0.7) !important;
            }

            @media screen and (max-width: 1200px) {
              line-height: 22px;
            }
          }

          a {
            @include align-items-center;
            font-weight: 500;
            color: #fff;
            margin-top: 12px;
            column-gap: 8px;

            svg {
              transition: all 0.3s ease-in-out;
              height: 24px;
              width: 24px;
            }

            &:hover {
              svg {
                transform: translateX(5px);
              }
            }
          }

          & > p {
            overflow: hidden;
            display: -webkit-box !important;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            max-height: 130px;
          }
        }

        .header {
          display: flex;
          justify-content: space-between;
          flex: 1;
          column-gap: 20px;
          padding-bottom: 16px;
          border-bottom: 1px solid #e8e9eb;

          @media screen and (max-width: 1200px) {
            display: flex;
            flex: 0;
            row-gap: 24px;
            margin-top: 8px;
            border-bottom: 1px solid #fff;
            max-width: 100%;
            padding-bottom: 24px;
          }

          .wrapper {
            flex: 1;

            @media screen and (max-width: 1200px) {
              display: flex;
              justify-content: center;
            }

            .item {
              text-align: center;
              vertical-align: middle;
              display: flex;
              flex-direction: column;
              align-items: center;
              row-gap: 6px;
              font-family: "Noto Sans" !important;
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
              color: rgba(255, 255, 255, 0.6);
              cursor: pointer;

              @media screen and (max-width: 1200px) {
                text-align: left;
                flex-direction: row;
                column-gap: 12px;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
              }

              @media screen and (max-width: 800px) {
                flex-direction: column;
                align-items: flex-start;
              }

              p {
                overflow: hidden;
                display: -webkit-box !important;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;

                @media screen and (max-width: 800px) {
                  display: none !important;
                }
              }

              &.active {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
