.profile {
  background-color: #09999a;
  border-radius: 50%;
  text-align: center;
  padding: 4px 7px 3px 8px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}
