.container {
  // background: #fff;
  padding: 30px 14px;
  position: relative;
  margin: auto;
  @media screen and (min-width: 769px) {
    display: none;
  }
  .header {
    text-align: left;
    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .region {
    color: #7f888f;
    display: flex;
    align-items: center;
    column-gap: 4px;
    img {
      height: 20px;
    }
    p {
      align-self: flex-end;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .svgWrapper {
    display: flex;
    margin-top: 16px;
    @media screen and (min-width: 680px) {
      justify-content: flex-end;
    }
    svg {
      height: auto;
      @media screen and (min-width: 680px) {
        width: 358px;
      }
    }
    // position: absolute;
  }
  .statsWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    @media screen and (min-width: 680px) {
      position: absolute;
      top: 108px;
      left: 20px;
      width: 45%;
    }
    h2 {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
    .yearsWrapper {
      display: flex;
      flex-direction: column;

      row-gap: 15px;
      .year {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .item {
          padding-top: 18px;
          padding-bottom: 5px;
          width: 375px;
          margin: auto;
          height: 64px;
          margin-left: -20px;
          padding-left: 30px;
          background-image: url(/images/statsicons/reswhitebg.png);
          background-repeat: no-repeat;
          position: relative;
          background-size: cover;
          @media screen and (min-width: 680px) {
            height: auto;
          }
          cursor: pointer;
          .robot {
            position: absolute;
            top: -9px;
            right: 30px;
          }
          .robotWithKids {
            position: absolute;
            top: -5px;
            right: 20px;
          }
          .robotCheck {
            position: absolute;
            top: -5px;
            right: 20px;
          }
          .platform {
            position: absolute;
            top: 0;
            right: 20px;
          }
          p,
          a {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #000;
            text-transform: uppercase;
          }
          a {
            font-size: 8px;
          }
          .badge {
            padding: 1px 18px 1px 11px;

            background-repeat: no-repeat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            position: absolute;
            top: 14px;
            right: 34px;
          }
        }
        .plan {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          margin-top: 16px;
        }
        .itemActive {
          background-image: url(/images/statsicons/reswhitechosen.png);
          p {
            color: #fff;
          }
        }
      }
    }
  }
}
