@import "styles/unit.scss";
@import url("/public/fonts/font.css");

.next {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: -40px;
  right: 0;
  height: 40px;
  transition: .4s ease all;

  @media screen and (max-width:600px) {
    top: 0;
  }

  svg {
    transform: rotate(180deg);

    &:hover {
      path {
        stroke: var(--primary-color);
      }
    }
  }
}

.prev {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 100;
  top: -40px;
  right: 48px;
  height: 40px;
  border-radius: 50%;
  transition: .4s ease all;

  @media screen and (max-width:600px) {
    top: 0;
    left: 0;
    right: auto;
  }

  svg {
    &:hover {
      path {
        stroke: var(--primary-color);
      }
    }
  }
}

.title {
  font-weight: 500 !important;
  font-size: 36px !important;
  line-height: 49px;
  font-family: "Noto Serif" !important;
  margin-top: 30px;

  @media screen and (max-width: 600px) {
    font-size: 24px !important;
    line-height: 32px;
  }

  @media (max-width: 400px) {
    margin-top: 20px;
  }
}

.slider {
  height: 100%;

  padding: {
    top: 40px;
    bottom: 40px;
  }

  @media (max-width: 600px) {
    padding-top: 20px;
  }

  .item {
    margin : {
      left: 7px;
      right: 7px;
    }

    cursor: pointer;
    background-color: #fff;
    height: 465px;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 768px) {
      height: 430px;
    }

    &:hover {
      .img {
        img {
          transform: scale(1.1);
        }
      }

      a {
        svg {
          transform: translateX(5px);
        }
      }
    }

    .img {
      overflow: hidden;

      img {
        transition: all 0.4s ease-in-out;
        width: 100%;
        height: 100%;
        height: 230px;
        object-fit: cover;
        aspect-ratio: 400 / 230;

        @media (max-width: 768px) {
          height: 200px;
        }
      }
    }

    .body {
      padding: 16px 12px;
      height: 100%;
      display: flex;

      flex-direction: column;

      &__text {
        font-family: "Noto Sans" !important;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #2d2d2d;
        opacity: 0.8;
        height: 50px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      &__title {
        font-weight: 500;
        font-size: 21px;
        line-height: 30px;
        flex: 1;
        min-height: 100px;
        max-height: 150px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;

        @media (max-width: 768px) {
          max-height: 140px;
          font-size: 22px;
          line-height: 28px;
        }
      }
    }
  }
}