.logo {
  width: 90px;
  padding-top: 32px;
  @media screen and (min-width:600px) {
    display: none;
  }
}
.footer {
  display: flex;
  padding: 40px 0;
  column-gap: 112px;
  color: #fff;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(222, 226, 230, 0.24);
  @media screen and (max-width:600px) {
    display: none;
  }
  .list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 75.25px;
    
    }
  }
.box {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  a {
    color: #fff;
    display: flex;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    column-gap: 5px;
    svg{
      width: 24px;
      &:last-child {
        width: 35px;
      }
    }
    }
  p {
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #9a9b9b;
    svg {
      display: none;
      cursor: pointer
    }
  }
}
.bottomElement {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: 'Noto Sans';
  font-size: 16px;
  line-height: 180%;
  padding: 32px 0 40px;
  @media screen and (max-width:600px) {
    padding: 16px 0;
  }
  .SocialIcons {
    display: flex;
    column-gap: 16px;
    svg {
      cursor: pointer;
    }
    @media  screen and (max-width:600px) {
      display: none;
    }
  }
}
.displayNone {
  display: none;
}
.display {
  display: flex;
  flex-direction: column;
}
.accordion {
  padding: 0 !important;
  margin: 0;
  padding: 40px 0;
  column-gap: 112px;
  color: #fff;
  background-color: #000;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(222, 226, 230, 0.24);
  
  svg {
    path {
      stroke: grey;
    }
  }
  .accordionSummary {
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px; 
    height: 64px;
    .summaryContent {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #9a9b9b;
      font-family: 'Noto Sans';
    }  
  }
  .accordionDetails {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 12px;
  }
}
.accordionContainer {
  @media screen and (min-width:600px) {
    display: none;
  }
}
.accordionWrapper {
  margin-bottom: 30px
}
.accordionIcons {
  .SocialIcons {
  display: flex;
  column-gap: 12px;
  }
}