.slider {
  padding: 0 25px;
  .item {
    display: flex !important;
    justify-content: center;
    svg {
      background: #f7f7f7;
      path {
        mix-blend-mode: multiply;
      }
    }
  }
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    svg {
      path {
        stroke: #b3b6bf;
      }
      &:hover {
        path {
          stroke: #000;
        }
      }
    }
  }
  .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    svg {
      &:hover {
        path {
          fill: #000;
        }
      }
    }
  }
}
