.slider {
  padding: 0 25px;
  max-height: 75px;
  position: relative;
  overflow: visible;
  display: flex !important;
  align-items: flex-start;

  .item {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    overflow-y: visible;
    position: relative;
    height: 150px;
    .popover {
      font-weight: 400;
      font-size: 12px;
      padding: 8px 12px;
      line-height: 16px;
      text-align: center;
      color: #000;
      background-color: #fff;
      max-width: 250px;

      height: fit-content;
      overflow: visible;
      z-index: 99999999;
      position: absolute;
      margin-top: -25px;
      border-radius: 6px;
    }

    .mobileIcon {
      mix-blend-mode: multiply;
      @media screen and (min-width: 500px) {
        display: none;
      }
    }
    .desktopIcon {
      mix-blend-mode: multiply;
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
    svg {
      background: #f7f7f7;
      path {
        mix-blend-mode: multiply;
      }
    }
  }
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
    right: 0;
    svg {
      transform: rotate(180deg);
      &:hover {
        path {
          fill: #000;
        }
      }
    }
  }
  .prev {
    cursor: pointer;
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
    left: 0;
    svg {
      &:hover {
        path {
          fill: #000;
        }
      }
    }
  }
}
