@import "styles/unit.scss";
@import url("/public/fonts/font.css");

.main {
  padding: 40px 0 80px;
  @media screen and (max-width: 820px) {
    padding-top: 0;
  }
  .header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .leftElement {
      .title {
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        @media screen and (max-width: 600px) {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
    .link {
      font-size: 16px;
      line-height: 24px;
      font-family: "Noto Sans" !important;
      @include align-items-center;
      column-gap: 4px;
      color: #000;
      svg {
        transition: all 0.3s ease-in-out;
        path {
          stroke: #000;
        }
      }
      &:hover {
        svg {
          transform: translateX(5px);
        }
      }
    }
  }

  .list {
    width: 100%;
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 32px;
    @media screen and (max-width: 960px) {
      overflow-x: auto;
      flex-wrap: nowrap;
      width: 100%;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .item {
      display: flex;
      width: calc(100% / 3 - 16px);

      @media screen and (max-width: 960px) {
        min-width: 306px;
      }
      flex-direction: column;
      padding: 24px 16px;
      background-color: #fff;

      overflow: hidden;
      .header {
        padding-bottom: 12px;
        border-bottom: 1px solid #c4c4c4;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          box-orient: vertical;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .body {
        overflow: hidden;
        max-height: 200px;
        display: flex;

        .description {
          font-size: 16px !important;
          flex: 1;
          line-height: 180% !important;
          color: #2d2d2d;
          font-family: "Noto Sans" !important;
          margin: 12px 0 16px;
          font-weight: 400 !important;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          line-clamp: 5;
          box-orient: vertical;
          text-overflow: ellipsis;
        }
      }
      &:hover {
        .link {
          color: var(--primary-color);
          svg {
            transform: translateX(5px);
            path {
              stroke: var(--primary-color);
            }
          }
        }
      }
      .link {
        display: flex;
        flex: 1;
        align-items: flex-end;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        font-family: "Noto Sans" !important;
        color: #333333;
        column-gap: 5px;

        svg {
          transition: all 0.3s ease-in-out;
          path {
            stroke: #333333;
          }
        }
      }
    }
  }
}
