.container {
  // background: #fff;
  padding: 30px 14px;
  position: relative;
  margin: auto;
  @media screen and (min-width: 577px) {
    display: none;
  }
  .header {
    text-align: left;
    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .region {
    color: #7f888f;
    display: flex;
    align-items: center;
    column-gap: 4px;
    img {
      height: 20px;
    }
    p {
      align-self: flex-end;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .svgWrapper {
    margin-top: 50px;
    width: max-content;
    margin-right: 140px;
    margin-left: auto;
    position: relative;
    display: flex;
    margin-top: 16px;
    svg {
      position: absolute;
      opacity: 0.4;
      &:first-child {
        opacity: 1;
        position: static;
      }
    }
    .bektemir {
      right: 114px;
      bottom: 75px;
    }
    .chilanzar {
      bottom: 130px;
      left: 54px;
    }
    .mirzo {
      right: 105px;
      top: 70px;
    }
    .yunusabad {
      right: 163px;
      top: 45px;
    }
    .yangihayat {
      bottom: 8px;
      left: 65px;
    }
    .yashnabad {
      right: 104px;
      bottom: 128px;
    }
    .single1 {
      left: 87px;
      bottom: 74px;
    }
    .single2 {
      left: 98px;
      bottom: 84px;
      z-index: 0;
    }
    .single3 {
      left: 103px;
      bottom: 68px;
      z-index: 1;
    }
    .single4 {
      left: 126px;
      bottom: 46px;
    }
    .single5 {
      left: 140px;
      bottom: 60px;
    }
    .active {
      opacity: 1;
    }
  }
  .statsWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    h2 {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
    .yearsWrapper {
      display: flex;
      scale: 0.8;
      margin-left: -40px;
      margin-top: -20px;
      flex-direction: column;
      row-gap: 15px;
      .year {
        display: flex;
        flex-direction: column;
        .item {
          width: 265px;
          height: 95px;

          background-image: url(/images/whitetreebgres.png);
          background-repeat: no-repeat;
          position: relative;
          cursor: pointer;
          img {
            height: 44px;
            position: absolute;
            top: 0;
            right: 30px;
            top: 25px;
          }

          .treeCount {
            position: absolute;
            bottom: 30px;
            display: flex;
            flex-direction: column;
            right: 65px;

            .darkCount {
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              color: #016155;
              text-align: center;
            }
            .darkTree {
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: #016155;
              text-align: center;
            }
            .lightCount {
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              color: #769913;
              text-align: center;
            }
            .lightTree {
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: #769913;
              text-align: center;
            }
          }
          p {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #000;
            margin: 14px;
            margin-top: 28px;
            margin-left: 24px;
          }

          .badge {
            padding: 5px 13px 3px 3px;

            background-repeat: no-repeat;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            position: absolute;
            top: 14px;
            right: 125px;
          }

          .darkBlue {
            background-image: url(/images/016155res.png);
          }

          .green {
            background-image: url(/images/769913res.png);
          }
        }
        .plan {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          margin-top: 16px;
        }
        .itemActive {
          background-image: url(/images/greentreebgres.png);
          .treeCount {
            .darkCount,
            .darkTree,
            .lightCount,
            .lightTree {
              color: #fff;
            }
          }
          p {
            color: #fff;
          }
        }
      }
    }
  }
}
