.menu {
  position: fixed;

  left: 0;
  right: 0;
  width: 100;
  background-color: #fff;
  padding: 24px 0;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
  box-shadow: 0px 11px 8px -7px rgba(0, 0, 0, 0.12);

  @media screen and (max-width: 600px) {
    padding: 0;
  }

  &.open {
    transform: none;
    z-index: 100;
    opacity: 1;
  }

  .element {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: auto;

    @media screen and (max-width: 600px) {
      display: none;
    }

    .box {
      overflow-x: hidden;
      border-right: 1px solid #cfcfcf;
      padding: 0 24px;

      .emailContainer {
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-size: 18px;

        @media screen and (max-width: 800px) {
          flex-direction: column;
          align-items: flex-start;
        }

        .email {
          margin-bottom: 12px;

          @media screen and (max-width: 800px) {
            margin-bottom: 0;
          }
        }

        & > a {
          @media screen and (max-width: 800px) {
            font-size: 16px;
          }
        }
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border: none;
      }

      .title {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 16px;
      }

      a {
        font-size: 18px;
        display: flex;
        line-height: 30px;
        color: #1b1c22;
        margin-bottom: 12px;
        // font-family: 'Noto Sans';
      }

      .box_bottom {
        margin-bottom: 40px;
      }

      .donation {
        margin-bottom: 40px;
        font-weight: 600;
        display: flex;
        align-items: center;
        column-gap: 12px;

        // font-family: 'Noto Sans';
        &:last-child {
          font-weight: 700;
        }
      }

      .marginBottom_24 {
        margin-bottom: 24px;
      }

      svg {
        path {
          stroke: none;
        }
      }
      .iconTitle {
        cursor: default;
      }
      .SocialIcons {
        display: flex;
        align-items: center;
        column-gap: 12px;
      }
    }
  }

  .responsiveElement {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 600px) {
      display: none;
    }
  }

  .responsiveTitle {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 22px 18px;
    align-items: center;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }
}
