.container {
  // background: #fff;
  padding: 60px 96px;
  max-width: 1570px;
  position: relative;
  margin: auto;

  .header {
    text-align: right;
    position: absolute;
    right: 32px;

    top: 60px;
    .title {
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
    }
  }
  .region {
    color: #7f888f;

    position: absolute;
    bottom: 32px;
    right: 32px;
    display: flex;
    column-gap: 8px;
    p {
      align-self: flex-end;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      line-height: 36px;
    }
  }
  .svgWrapper {
    display: flex;
    justify-content: flex-end;
    // position: absolute;
  }
  .statsWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: inherit;
    bottom: 0;
    left: 0;
    h2 {
      font-weight: 700;
      font-size: 24px;
      width: 70%;
      line-height: 32px;
      margin-bottom: 23px;
    }
    .yearsWrapper {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      .year {
        display: flex;
        flex-direction: column;

        .item {
          padding-top: 28px;
          padding-bottom: 26px;
          padding-left: 24px;
          width: 315px;
          background-image: url(/images/longwhitebg.png);
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          cursor: pointer;
          .robot {
            position: absolute;
            top: -9px;
            right: 30px;
          }
          .robotWithKids {
            position: absolute;
            top: -5px;
            right: 20px;
          }
          .robotCheck {
            position: absolute;
            top: -5px;
            right: 20px;
          }
          .platform {
            position: absolute;
            top: 0;
            right: 20px;
          }
          p,
          a {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #000;
            text-transform: uppercase;
          }
          .badge {
            padding: 7px 27px 6px 13px;

            background-repeat: no-repeat;
            font-weight: 600;
            font-size: 24px;
            line-height: 44px;
            color: #fff;
            position: absolute;
            top: -7px;
            right: 34px;
          }
          .starBadge {
            padding: 12px 12px 12px 2px;
            line-height: 33px;
          }
          .darkBlue {
            background-image: url(/images/statsicons/4559A6.png);
          }
          .blue {
            background-image: url(/images/statsicons/0EA1E6.png);
          }
          .green {
            background-image: url(/images/statsicons/45A6A2.png);
          }
        }
        .link {
          padding-top: 12px;
          padding-bottom: 20px;
        }
        .plan {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
        }
        .itemActive {
          background-image: url(/images/longgreenbg.png);
          p {
            color: #fff;
          }
        }
      }
    }
  }
}
