.Modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .Box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .item {
      position: relative;
      transform: scale(1.4);

      .storyFile {
        width: 100% !important;
      }

      .fileDescription {
        position: absolute;
        bottom: 16%;
        left: 2.5%;
        color: #ffffff;

        .name {
          font-weight: 700;
          font-size: 24.0968px;
          line-height: 27px;
          margin-bottom: 8px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          box-orient: vertical;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .description p {
          font-weight: 400;
          font-size: 18.7419px;
          line-height: 20px;
          color: #EEF0F2;
          margin-bottom: 12px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          box-orient: vertical;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .button {
          padding: 5px;
          color: #2E2E2E;
          background-color: #fff;
          line-height: 18px;
          font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .Modal {
    .Box {
      max-width: 600px;

      .item {

        position: relative;

        .storyFile {
          width: 100% !important;
          height: auto !important;
        }

        .fileDescription {
          position: absolute;
          bottom: -50%;
          left: 2.5%;
          color: #ffffff;

          .name {
            font-weight: 700;
            font-size: 20.0968px;
            line-height: auto;
            margin-bottom: 6px;
          }

          .description {
            font-weight: 400;
            font-size: 17.7419px;
            line-height: 27px;
            color: #EEF0F2;
            margin-bottom: 5px;
          }

          .button {
            padding: 7px;
            color: #2E2E2E;
            background-color: #fff;
            font-weight: 900;
          }
        }
      }
    }
  }
}