@use "styles/unit.scss";
@use url("/public/fonts/font.css");

.main {
  padding: 80px 0;
  @media screen and (max-width: 600px) {
    padding: 24px 0;
  }
  .mainHead {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .options {
    transition: 0.8s;
    position: relative;
    .select {
      background: #fff;
      display: flex;
      align-items: center;
      gap: 12px;
      border: 1px solid lightgray;
      padding: 8px 12px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  .list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    margin-top: 32px;
    @media screen and (max-width: 600px) {
      grid-template-columns: 100%;
      margin-top: 24px;
    }
  }
  .button {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
}

.popover {
  .option {
    margin-top: 12px;
  }
  .option:first-child {
    margin-top: 0;
  }
}
