@use "styles/unit.scss";

.root {
  position: relative;
  .box {
    svg {
      width: 15px;
      margin: 0;
    }
  }
  svg {
    outline: none;
    margin-top: rem(50);
    // position: absolute;
    // top: 0;
    // left: 0;
  }
}
