.input {
  label {
    display: block;
    margin-bottom: 8px;
  }
  input {
    border: 1px solid #cfcfcf;

    &.fullWidth {
      width: 100%;
    }
    &.small {
    }
    &.medium {
      padding: 12px;
      height: 48px;
    }
    &.large {
    }
    &,
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }
    &::placeholder {
      color: #84919a;
    }
    &:focus {
      outline: none;
      border-color: var(--primary-color);
    }
  }
}
