.root {
  text-align: center;
  .title {
    margin-top: 24px;
    font-weight: 800;
    font-size: 200px;
    line-height: 200px;
  }
  .text {
    margin-top: 19px;
    margin-bottom: 134px;
    font-weight: 500;
    font-size: 28px;
    line-height: 45px;
  }
}
