@import "styles/unit.scss";
@import url("/public/fonts/font.css");
.box {
  width: 418px;
  background: #fff;
  display: flex;
  padding: 24px;
  row-gap: 24px;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 0;
  font-family: "Noto Sans" !important;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
  .closeIcon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    svg {
      fill: #9a9b9b;
    }
  }
  .title {
    h2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      font-family: "Noto Serif" !important;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    .input {
      margin-bottom: 12px;
    }
    .codeError {
      color: red !important;
      margin-top: -12px;
    }
    .button {
      margin-top: 20px !important;
    }
    .name {
      margin-top: 12px;
    }
    .borderRed {
      input {
        border: 1px solid red !important;
      }
    }
  }
  .forgotPassword {
    a {
      color: #1b5bf7;
    }
  }
  .register {
    p {
      color: #7f888f;
      text-align: center;
      a {
        color: #1b5bf7;
      }
    }
  }
}
