@import "styles/unit.scss";
.box {
  width: 418px;
  background: #fff;
  display: flex;
  padding: 24px;
  row-gap: 24px;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 0;
  font-family: "Noto Sans";
  @media screen and (max-width: 600px) {
    width: 100%;
  }
  .closeIcon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    svg {
      fill: #9a9b9b;
    }
  }
  .title {
    h2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      font-family: "Noto Serif";
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    .codeError{
        color: red !important;
        margin-top: -12px;
    }
  }
  .forgotPassword {
    a {
      color: #1b5bf7;
    }
  }
  .register {
    p {
      color: #7f888f;
      text-align: center;
      a {
        color: #1b5bf7;
      }
    }
  }
}
.active {
  display: block;
}
.closed {
  display: none;
}
.button {
  margin-top: 20px !important;
}
.borderRed {
  input {
    border: 1px solid red !important;
  }
}
