.countDown {
    display: flex;
    justify-content: center;
    p{
        margin-bottom: -20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.38px;
    }
}