@import "styles/unit.scss";
@import url("/public/fonts/font.css");

.container {
  width: 100%;
  max-width: 856px;
  margin: 0 auto;
  padding: 0 16px;
  .title {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 32px;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    @media screen and (max-width: 540px) {
      padding-top: 38px;
      font-size: 24px;
      padding-bottom: 28px;
    }
  }
  .formWrapper {
    background-color: #fff;
    width: 100%;
    padding: 24px;
    margin-bottom: 24px;
    @media screen and (max-width: 500px) {
      padding: 12px;
    }
    // .typeWrapper {
    //   background-color: #f7f7f7;
    //   padding: 6px;
    //   height: 52px;
    //   display: grid;
    //   align-items: center;
    //   grid-template-columns: 1fr 1fr;
    .item {
      // @media screen and (max-width: 600px) {
      //   display: none;
      // }
      cursor: pointer;
      text-align: center;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }

    .resItem {
      @media screen and (min-width: 601px) {
        display: none;
      }
      cursor: pointer;
      font-family: "Noto Serif";
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      background-color: #f7f7f7;
      align-self: stretch;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .chosen {
      background-color: #fff;
      font-weight: 500;
    }
  }
  .chooseAmount {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    & > p {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      font-family: "Noto Sans";
    }
    .amountButtons {
      display: flex;
      column-gap: 12px;
      row-gap: 12px;
      flex-wrap: wrap;

      justify-content: center;
      .sumInput {
        height: 40px;
        flex: 1;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        border: 1px solid #cfcfcf;
        &:focus {
          border: 1px solid var(--primary-color);
          outline: none !important;
        }
      }
      .amountItem {
        min-width: 98px;
        height: 40px;
        flex: 1;
        background: #f7f7f7;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-family: "Noto Sans";
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
        }
      }
      .active {
        background-color: var(--primary-color);
        color: #fff;
      }
    }
    .methodInputWrapper {
      display: flex;
      column-gap: 10px;
      .methodInput {
        cursor: pointer;
        display: flex;
        width: 25%;
        align-items: center;
        justify-content: center;
        background: #f6f8f9;
        border-radius: 12px;
        padding: 14px 16px;
        justify-content: space-between;
        .methodName {
          display: flex;
          column-gap: 8px;
          justify-content: center;
          align-items: center;
          p {
            font-size: 18px;
            line-height: 24px;
            font-family: "Noto Sans";
          }
        }
        span {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: #eef0f2;
        }
        .radio {
          border: 1px solid #d5dadd;
        }
        .activeRadio {
          border: 6px solid #5982e7;
        }
      }
    }
    .chooseProject {
      display: flex;
      justify-content: space-between;
      border: 1px solid #cfcfcf;
      align-items: center;
      cursor: pointer;
      span {
        font-size: 16px;
        line-height: 150%;
        font-family: "Noto Sans";
        font-weight: 400;
        padding: 12px;
        color: #84919a;
        max-width: 90%;
      }
      svg {
        margin-right: 12px;
        &:hover {
          path {
            fill: #000;
          }
        }
        path {
          fill: #80868b;
        }
      }
    }
  }

  .comments {
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    row-gap: 8px;
    & > p {
      font-weight: 600;
      font-family: "Noto Sans";
      font-size: 16px;
      line-height: 24px;
    }
    form {
      textarea {
        width: 100%;
        height: 96px;
        padding: 16px;
        border: 1px solid #cfcfcf;
        resize: none;
        font-family: "Noto Sans";
        font-size: 16px;
        line-height: 150%;
        &:focus {
          border: 1px solid var(--primary-color);
          outline: none !important;
        }
        @media screen and (max-width: 600px) {
          padding: 12px;
        }
      }
    }
  }
  .formTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    font-family: "Noto Serif";
  }
  .form {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 540px) {
      grid-template-columns: 100%;
    }
    column-gap: 12px;
    row-gap: 16px;
    .formInput {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      @media screen and (max-width: 540px) {
        row-gap: 4px;
      }
      label {
        font-size: 16px;
        flex: 1;
        display: flex;
        align-items: center;
        line-height: 150%;
        font-family: "Noto Sans";
        @media screen and (max-width: 540px) {
          font-size: 14px;
        }
      }
      input {
        width: 100%;
        font-size: 16px;
        line-height: 150%;
        border: 1px solid #cfcfcf;
        padding: 12px;
        @media screen and (max-width: 540px) {
          padding: 8px 12px;
        }
        &:focus {
          border: 1px solid var(--primary-color);
          outline: none !important;
        }
        &:disabled {
          background-color: #fff;
        }
      }
    }
    .email {
      grid-column: 1/3;
    }
  }
  // }
  .submitButton {
    margin-top: 16px;
    display: flex;
    justify-content: right;
    margin-bottom: 86px;
    button {
      padding: 14px 28px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      background-color: var(--primary-color);
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
